.header-container {
    padding: 8px 48px;
    display: flex;
    border: #8d8d8d solid 0px;
    border-bottom: 1px;
    justify-content: space-between;
}

.header-container .header-elem {
    height: 40px;
    display: flex;
}

.header-container .header-elem .header-logo {
    margin: auto 0;
    background-color: white;
    border-radius: 5px;
}

.header-container .header-elem .header-link:hover {
    color: #ccc;
}

.header-container .header-elem .header-text {
    line-height: 40px;
    color: white;
    text-decoration: none;
    padding: 0 6px;
}

.header-container .header-elem .header-text.header-title {
    font-size: 1.4em;
    margin-left: 8px;
}