.repository-file-container {
    display: block;
}

.repository-file-container .input-error {
    height: 14px;
    line-height: 14px;
    font-size: 0.75rem;
    margin-top: 0.25rem;
    padding-left: 0.25rem;
    color: #d83141
}

.repository-file-container .repository-file-wrap {
    display: flex;
}

.repository-file-container .repository-file-wrap.selected {
    background-color: #0d6efd;
    color: white;
}

.repository-file-container .repository-file-wrap.edit {
    border: none;
    background-color: transparent;
}

.repository-file-container.edit .repository-file-wrap {
    display: flex;
}

.repository-file-container .repository-file-wrap:not(.edit):not(.selected):hover {
    background-color: #f9f9f9;
}

.repository-file-container .repository-file-wrap .repository-file-title {
    font-size: 1rem;
    display: block;
    flex-grow: 2;
    padding: 0.5rem 0 0.5rem 0.75rem;
}

.repository-file-container .repository-file-wrap.edit .repository-file-title {
    padding: 8px 0;
}

.repository-file-container .repository-file-wrap.edit .repository-file-title input {
    display: block;
    width: 100%;
    border: 1px #8d8d8d solid;
    height: 24px;
    line-height: 24px;
    border-radius: 0.5rem;
    padding-left: 4px;
}

.repository-file-container .repository-file-wrap.edit.error .repository-file-title input {
    background-color: #f7d5d9;
    color: #D83141FF;
}

.repository-file-container .repository-file-wrap .repository-file-title:hover {
    cursor: pointer;
}

.repository-file-container .repository-file-wrap.selected .repository-file-title:hover {
    cursor: pointer;
}

.repository-file-container .repository-file-wrap .repository-file-btns {
    display: none;
    padding: 8px 8px 8px 0;
}

.repository-file-container .repository-file-wrap.edit .repository-file-btns {
    display: block;
}

.repository-file-container .repository-file-wrap:hover .repository-file-btns {
    display: block;
}

.repository-file-container .repository-file-wrap .repository-file-btns .repository-file-btn {
    display: inline-block;
    margin-left: 24px;
}

.repository-file-container .repository-file-wrap .repository-file-btns .repository-file-btn:hover {
    cursor: pointer;
}
