.editor-container {
    padding-bottom: 1.5rem;
    margin-top: 1.25rem
}

.editor-container .editor-header {
    height: 32px;
    display: flex;
    flex-direction: row-reverse;
}

.editor-container .editor-header .editor-btn {
    margin-right: 2rem;
    user-select: none;
}

.editor-container .editor-header .editor-btn:nth-of-type(1) {
    margin-right: 0;
}

.editor-container .editor-header .editor-btn:hover {
    cursor: pointer;
}

.editor-container .editor-msg {
    color: white;
    padding: 4px 12px;
    border-radius: 12px;
    text-align: center;
    font-size: 12px;
}

.editor-container .editor-form .editor-form-btn {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}

